<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>;
    <link rel="stylesheet" href="./styles.scss">
</head>
<body>
    <div id="nav-bar">
        <img src="/icons/enerwave-logo.svg" alt="">
        <div>
            <div>
                <img src="" alt="">
                <p>Inicio</p>
            </div>
            <div>
                <img src="" alt="">
                <p>Biblioteca</p>
            </div>
            <div>
                <img src="" alt="">
                <p>Aprendizaje</p>
            </div>
        </div>
    </div>
    
</body>
</html>